.cookies-section {
    position: fixed;
    top: calc(100vh - 94px);
    left: 0;
    width: 100% !important;
    height: 100px;
    background-color: #000;
    border-top: 4px solid rgb(219, 9, 9);
    color: #fff;
    z-index: 5000;
    padding: 0;
    overflow: hidden;
}

.cookies-section .box{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}
.cookies-section .box{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding:0.5rem 1rem ;
}

.cookies-section .box p{
    font-size: 15px;
    line-height: 24px;
    color: #a6a6a6;
    text-align: center;
}

.cookies-section .box label{
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #c1c1c1;
    text-align: center;
}
.cookies-section .box input{
    margin: 0 5px;
    transform: translateY(1px);
}

@media (max-width:600px) {
    .cookies-section .box {
        padding: 1rem 0.5rem;
    }
    
    .cookies-section .box p{
       display: none;
    }
    .cookies-section .box label{
        font-size: 14px;
     }
    
    
}