/* Container holding both image and content */
.post-blog {
  width: 100%;
  padding-bottom: 4rem;
  padding-top: 34px;

}

.post-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  width: 100%;
  padding: 0rem 0;
  margin-top: -2rem;
  border-bottom: 1px solid #aaa4;
}

/* Sticky left image */
.post-media {
  grid-column: span 2;
  flex: 1;
  position: sticky;
  top: 2rem;
  /* distance from top when scrolling */
  align-self: flex-start;
  /* ensures sticky works correctly */
  padding-top: 3.5rem;
}

.post-media .thumb img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 8px 20px #aaa2;
  transition: transform 0.3s ease;
}

.post-media .thumb img:hover {
  transform: scale(1.05);
}

/* Right content */
.post-content {
  grid-column: span 3;
  padding-top: 3.5rem;
  padding-right: 2rem;
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.post-heading .post-title {
  font-size: 38px;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
}

.post-heading .post-meta {
  font-size: 18px;
  text-transform: uppercase;
  color: #111;
  padding: 0.5rem 0rem;
  padding-bottom: 0;
}

.post-heading .post-date {
  font-size: 16px;
  color: #555;
}

.post-body p {
  font-size: 16.5px;
  line-height: 1.9;
  padding-bottom: 1rem;
  color: #333;
}

/* Responsive: stack on smaller screens */
@media (max-width: 768px) {
  .post-items {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .post-media {
    grid-column: span 3;
    position: relative;
    top: auto;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  /* Right content */
  .post-content {
    grid-column: span 3;

    padding-right: 0;
  }
}