.dropdown {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
    z-index: 100;
    width: 100%;
}

.dropdown .label-txt {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    font-size: 12.5px;
    line-height: 12.5px;
    color: #333;
    overflow-x: hidden;
    text-align: left;
}
.dropdown .label-txt.ar {
    position: absolute;
    left: auto;
    right: 0;
}

.dropdown .select-title{
    width: 180px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.2rem;
    padding: 14px 0px;
    background-color: transparent;
    border: none;
    font-size: 12px;
    line-height: 13px;
    color: #444;
    text-align: center;
    cursor: pointer;

}


.dropdown .select .icon {
    width: 24px;
    height: 24px;
    opacity: 0.7;
    transform: scale(0.6);
    transition: all 1s;
}

.dropdown .select .icon.active {
    transform: scale(0.6) rotate(-180deg);
}

.dropdown .content {
    position: absolute;
    top: 48px;
    right: 0%;
    padding: 0.5rem 0.1rem;
    width:210px;
    margin-left: 0.5%;
    box-shadow: 0 6px 12px #aaa6;
    border-radius: 1px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0px;
    z-index: 100;
}



.dropdown .content .line {
    width: 100%;
    font-size: 13px;
    line-height: 13px;
    color: #000;
    background-color: #fefefe;
    border: none;
    padding: 12px 12px;
    cursor: pointer;
    transition: all 0.6s;
    border-bottom: 1px solid #aaa2;
    text-align: left;
}

.dropdown .content .line button{
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.dropdown .content .line:nth-child(2n+1) {
    font-size: 13px;
    line-height: 13px;
    color: #000;
    border-bottom: 1px solid #aaa2;
    background-color: transparent;


}
.dropdown .content .line:last-child {
    border-bottom: 0px solid #aaa2;
}

.dropdown .content .line:hover {
    font-size: 13px;
    line-height: 13px;
    color: #000;
    background-color: #90a2c222;
}