.blogPage {
    width: 100% !important;
    padding: 2rem 0;
    background: linear-gradient(to bottom, #e9f0f620, #e9f0f6c0, #e9f0f6c0, #e9f0f620);

}


.blogPage .container {
    position: relative;
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 2rem;
    padding-top: 4rem !important;
    min-height: 600px;
}

.blogPage .heading {
    position: sticky;
    position: -webkit-sticky;
    top: 6rem;
    left: 0;
    z-index: 10;

}

.blogPage .heading .title {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    font-size: 64px;
    line-height: 34px;
    font-weight: 200;
    color: #333;
    padding: 1rem 0rem;
    text-transform: uppercase;
}
.blogPage .heading .title span{
    font-family: 'Outfit', sans-serif !important;
}



.blogPage .blog-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 3rem 3rem;
    padding: 0 1rem;
}

.blogPage .article-card {
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
    grid-column: span 3;
    grid-row: span 1;
    height: auto;
    text-align: center;
    overflow: hidden;
}


.blogPage .article-card:nth-child(2n+1) {
    grid-row: span 2;
}


.blogPage .article-card .img {
    background: black;
    padding: 0;
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.blogPage .article-card:nth-child(2n+1) .img {
    height: 700px;
}


.blogPage .img img {
    min-width: 106%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;

}


.blogPage .article-content {
    position: relative;
    height: 160px;
    padding: 0.25rem 1rem;
    padding-top: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}



.blogPage .article-title {
    display: flex;
    padding: 0.25rem 1rem;
    font-size: 26px !important;
    height: 70px;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: -1px;
    color: #222;

}




.blogPage .article-card.ar .article-title {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: -1px;
    color: #111;
}

.blogPage .article-subtitle {
    display: flex;
    align-items: flex-start;
    height: 50px;
    padding-bottom:1rem;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #111;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.blogPage .article-card.fr .article-subtitle {
    font-size: 12px;
}


.blogPage .article-card.ar .article-subtitle {
    font-size: 16px;
    padding-top: 1rem;
    direction: rtl;
}





















/* responsive: stack on small screens */
@media (max-width:1100px) {
    .blogPage {
        width: 100%;
    }

    .blogPage .container {
        display: flex !important;
        flex-direction: column !important;
    }

    .blogPage .heading {
        position: relative;
        top: 0.7rem;
        display: flex;
        flex-direction: row;
        gap: 0;
        text-transform: lowercase !important;
        font-size: 24px;
        font-weight: 500;
        color: #222;
        margin: 0;
    }

    .blogPage .heading .title {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        font-size: 34px;
        line-height: 34px;
        font-weight: 300;
        color: #333;
        padding: 1rem 0rem;
    }

    .blogPage .heading .title.ar {
        font-weight: 400 !important;

        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        padding-bottom: 2rem;
    }

    .blogPage .blog-items {
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        gap: 3rem 3rem;
    }




    .blogPage .article-card .img {
        width: 100%;
        height: 340px;
    }

    .blogPage .article-card:nth-child(2n+1) .img {
        height: 500px;
    }


}

@media (max-width:600px) {


    .blogPage .container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        border-top: 1px solid #aaa4;
        padding-top: 4rem !important;
    }

    .blogPage {
        position: relative;
        height: fit-content;
        width: fit-content;
        padding: 1.2rem 1rem;
    }



    .blogPage .heading span:nth-child(1) {
        text-transform: capitalize !important;
    }




    .blog-items {
        overflow: auto;

        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 0 !important;
    }

    .blog-items .article-content {
        width: 100%;
        padding-top: 28px;
    }

    .blogPage .article-title {
        font-size: 24px !important;
    }


    .blogPage .article-subtitle {
        font-size: 13px !important;
        line-height: 24px !important;
        letter-spacing: 0px !important;
    }

    .blogPage .article-card {
        grid-row: span 1;
        height: 440px;
        overflow: hidden;
        background-color: transparent;
    }

    .blogPage .article-card .article-link {
        width: 100%;
        height: 440px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .blogPage .article-card .img,
    .blogPage .article-card:nth-child(2n+1) .img {
        height: 300px !important;
        overflow: hidden;
    }

    .blogPage .article-card img,
    .blogPage .article-card:nth-child(2n+1) img {
        height: 300px !important;
        padding: 0px !important;
        margin: 0px !important;
        transform: scale(1.1);
    }


}


