@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Marcellus&family=Noto+Kufi+Arabic:wght@100..900&family=Noto+Sans+Arabic:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playwrite+FR+Moderne:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: "Poppins", system-ui, sans-serif;
}

body {
    min-height: 600px !important;

}

.app {
    width: 100%;
}

section {
    padding-top: 2rem !important;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Marcellus', sans-serif !important;

}

.link {
    font-family: 'Open Sans', sans-serif !important;

}

.container {
    padding: 0.75rem 2rem !important;
    list-style: none;
}

@media (max-width:900px) {
    .container {
        padding: 0.75rem 0.25rem !important;
    }
}

.icon-shopping {
    display: inline-block;
    background: url("icons/ShoppingBag.svg") no-repeat;
    width: 24px;
    height: 24px;
    stroke-width: 2px;
    stroke: #fff;
    fill: transparent;
}

.icon-heart {
    display: inline-block;
    background: url("icons/Heart.svg") no-repeat;
    width: 24px;
    height: 24px;
    stroke-width: 2px;
    stroke: #fff;
    fill: transparent;
}

.icon-search {
    display: inline-block;
    background: url("icons/Search.svg") no-repeat;
    width: 24px;
    height: 24px;
    transform: scale(0.9) !important;
    opacity: 0.9;
}




.icon-dark-shopping {
    display: inline-block;
    background: url("icons/ShoppingBag-dark.svg") no-repeat;
    width: 24px;
    height: 24px;
    stroke-width: 2px;
    stroke: #000;
    fill: transparent;
    transform: scale(0.75);
}

.icon-dark-heart {
    display: inline-block;
    background: url("icons/Heart-dark.svg") no-repeat;
    width: 24px;
    height: 24px;
    stroke-width: 2px;
    fill: transparent;
    transform: scale(0.75);

}

.icon-dark-search {
    display: inline-block;
    background: url("icons/Search-dark.svg") no-repeat;
    width: 20px;
    height: 24px;
    stroke-width: 2px;
    fill: transparent;
    transform: scale(0.75);

}


.icon-dark-plus {
    display: inline-block;
    background: url("icons/plus-dark.svg") no-repeat;
    width: 24px;
    height: 24px;
    transform: rotate(45deg);

}

.icon-plus {
    display: inline-block;
    background: url("icons/plus.svg") no-repeat;
    width: 24px;
    height: 24px;
    stroke-width: 2px;
    fill: transparent;
    transform: rotate(45deg);

}

.icon-dark-trash {
    display: inline-block;
    background: url("icons/trash-dark.svg") no-repeat;
    width: 24px;
    height: 24px;

}


.icon-dark-menu {
    display: inline-block;
    background: url("icons/menu-dark.svg") no-repeat;
    width: 24px;
    height: 24px;
}

.icon-menu {
    display: inline-block;
    background: url("icons/menu.svg") no-repeat;
    width: 24px;
    height: 24px;
}


.icon-dark-chevron {
    display: inline-block;
    background: url("icons/chevron-dark.svg") no-repeat;
    width: 24px;
    height: 24px;
}

.icon-chevron {
    display: inline-block;
    background: url("icons/chevron.svg") no-repeat;
    width: 24px;
    height: 24px;
}

.icon-dark-chevron.left {
    display: inline-block;
    background: url("icons/chevron-dark.svg") no-repeat;
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
}

.icon-dark-chevron.right {
    display: inline-block;
    background: url("icons/chevron-dark.svg") no-repeat;
    width: 24px;
    height: 24px;
    transform: rotate(-90deg);
}

.icon-chevron-left {
    display: inline-block;
    background: url("icons/chevron.svg") no-repeat;
    width: 24px;
    height: 24px;
    transform: rotate(45deg);

}

.icon-whatsapp {
    display: inline-block;
    background: url("icons/WhatsApp.svg") no-repeat;
    width: 64px;
    height: 64px;
}


.icon-true {
    display: inline-block;
    background: url("icons/true.svg") no-repeat;
    width: 64px;
    height: 64px;
}

















