

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300; /* وزن خفيف */
    font-display: swap;
    src: url('/fonts/Outfit-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400; /* وزن عادي */
    font-display: swap;
    src: url('/fonts/Outfit-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500; /* وزن عادي */
    font-display: swap;
    src: url('/fonts/Outfit-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600; /* وزن شبه عريض */
    font-display: swap;
    src: url('/fonts/Outfit-SemiBold.ttf') format('truetype');
}



@font-face {
    font-family: 'Playwrite FR Moderne';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/PlaywriteFRModerne-Light.ttf') format('truetype');
}





@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300; /* وزن خفيف */
    font-display: swap;
    src: url('/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400; /* وزن عادي */
    font-display: swap;
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500; /* وزن عادي */
    font-display: swap;
    src: url('/fonts/OpenSans-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600; /* وزن شبه عريض */
    font-display: swap;
    src: url('/fonts/OpenSans-SemiBold.ttf') format('truetype');
}




* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: "Open Sans", system-ui, sans-serif;
}

body {
    min-height: 600px !important;

}

.app {
    width: 100%;
}

section {
    padding-top: 2rem !important;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Outfit', sans-serif !important;
}

.link {
    font-family: 'Open Sans', sans-serif !important;

}

.container {
    padding: 0.75rem 2rem !important;
    list-style: none;
}

@media (max-width:900px) {
    .container {
        padding: 0.75rem 0.5rem !important;
    }
}

.icon-shopping {
    display: inline-block;
    background: url("icons/ShoppingBag.svg") no-repeat;
    width: 24px;
    height: 24px;
    stroke-width: 2px;
    stroke: #fff;
    fill: transparent;
}

.icon-heart {
    display: inline-block;
    background: url("icons/Heart.svg") no-repeat;
    width: 24px;
    height: 24px;
    stroke-width: 2px;
    stroke: #fff;
    fill: transparent;
}

.icon-search {
    display: inline-block;
    background: url("icons/Search.svg") no-repeat;
    width: 24px;
    height: 24px;
    transform: scale(0.9) !important;
    opacity: 0.9;
}




.icon-dark-shopping {
    display: inline-block;
    background: url("icons/ShoppingBag-dark.svg") no-repeat;
    width: 24px;
    height: 24px;
    stroke-width: 2px;
    stroke: #000;
    fill: transparent;
    transform: scale(0.75);
}

.icon-dark-heart {
    display: inline-block;
    background: url("icons/Heart-dark.svg") no-repeat;
    width: 24px;
    height: 24px;
    stroke-width: 2px;
    fill: transparent;
    transform: scale(0.75);

}

.icon-dark-search {
    display: inline-block;
    background: url("icons/Search-dark.svg") no-repeat;
    width: 20px;
    height: 24px;
    stroke-width: 2px;
    fill: transparent;
    transform: scale(0.75);

}


.icon-dark-plus {
    display: inline-block;
    background: url("icons/plus-dark.svg") no-repeat;
    width: 24px;
    height: 24px;
    transform: rotate(45deg);

}

.icon-plus {
    display: inline-block;
    background: url("icons/plus.svg") no-repeat;
    width: 24px;
    height: 24px;
    stroke-width: 2px;
    fill: transparent;
    transform: rotate(45deg);

}

.icon-dark-trash {
    display: inline-block;
    background: url("icons/trash-dark.svg") no-repeat;
    width: 24px;
    height: 24px;

}


.icon-dark-menu {
    display: inline-block;
    background: url("icons/menu-dark.svg") no-repeat;
    width: 24px;
    height: 24px;
}

.icon-menu {
    display: inline-block;
    background: url("icons/menu.svg") no-repeat;
    width: 24px;
    height: 24px;
}


.icon-dark-chevron {
    display: inline-block;
    background: url("icons/chevron-dark.svg") no-repeat;
    width: 24px;
    height: 24px;
}

.icon-chevron {
    display: inline-block;
    background: url("icons/chevron.svg") no-repeat;
    width: 24px;
    height: 24px;
}

.icon-dark-chevron.left {
    display: inline-block;
    background: url("icons/chevron-dark.svg") no-repeat;
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
}

.icon-dark-chevron.right {
    display: inline-block;
    background: url("icons/chevron-dark.svg") no-repeat;
    width: 24px;
    height: 24px;
    transform: rotate(-90deg);
}

.icon-chevron-left {
    display: inline-block;
    background: url("icons/chevron.svg") no-repeat;
    width: 24px;
    height: 24px;
    transform: rotate(45deg);

}

.icon-whatsapp {
    display: inline-block;
    background: url("icons/WhatsApp.svg") no-repeat;
}
.icon-zoom {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("icons/zoom.svg") no-repeat;
}
.icon-white-zoom {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("icons/zoom-white.svg") no-repeat;
}



.icon-true {
    display: inline-block;
    background: url("icons/true.svg") no-repeat;
    width: 64px;
    height: 64px;
}

.icon- {
    display: inline-block;
    background: url("icons/en.svg") no-repeat;
   
}
.icon-en {
    display: inline-block;
    background: url("icons/en.svg") no-repeat;
   width: 24px;
   height: 24px;
}

.icon-ar {
    display: inline-block;
    background: url("icons/ma.svg") no-repeat;
    width: 34px;
    height: 34px;
}
.icon-fr {
    display: inline-block;
    background: url("icons/fr.svg") no-repeat;
    width: 24px;
    height: 24px;
}


