.article-page {
    padding-top: 0px;
    font-family: system-ui, sans-serif;
    color: #222;
}

/* Layout */
.article-page .article-items {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 40px;
    padding-top: 6rem;
}


/* Image section */
.article-page .article-media .thumb {
    position: sticky;
    top: 100px;
    /* أو أي قيمة مناسبة */
    width: 100%;
    min-height: 80vh;

}

.article-page .article-media .thumb img {
    width: 100%;
    height: 420px;
    border-radius: 4px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

/* Content */
.article-page .article-content {
    max-width: 800px;
}

.article-page .article-heading .article-meta {
    padding-top: 0.5rem;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
    color: #333;
    max-width: 600;

}

.article-page .article-title {
    font-size: 32px;
    line-height: 1.2;
    margin: 6px 0 10px 0;
}

.article-page .article-date {
    color: #555;
    font-size: 14px;
    margin-bottom: 25px;
}

/* Article body */
.article-page .article-body {
    font-size: 17px;
    line-height: 1.7;
    color: #333;
}

.article-page .article-body p {
    margin-bottom: 18px;
}

.article-page .article-body h2,
.article-page .article-body h3 {
    margin-top: 35px;
    margin-bottom: 15px;
    font-weight: 600;
}





@media (max-width: 900px) {
    .article-page .article-items {
        grid-template-columns: 1fr;
    }

    .article-page .article-media .thumb {
        height: 300px;
    }
}

@media (max-width: 600px) {
    .article-page .article-title {
        font-size: 26px;
    }

    .article-page .article-body {
        font-size: 16px;
    }


}