.item-list {
    width: 100%;
    margin-left: 0;
    padding: 1rem 0;
    overflow: visible;
    /* لإظهار الظل */
}

/* ---------- Heading ---------- */

.item-list .heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.4rem 1rem;
    padding-bottom: 0.75rem;
}

.item-list .heading .line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-list .heading .line h2 {
    font-family: 'Poppins', "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 200;
    margin: 0;
    letter-spacing: 1px;
    color: rgb(85, 85, 85);
}

.item-list .heading .line .link {
    font-family: 'Poppins', "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 12px;
    padding: 11px 2.4rem;
    border: 1px solid #aaa1;
    border-radius: 2rem;
    box-shadow: 0 0 1px #aaa2;
    background-color: #fff;
    color: #444;
    transition: .3s;
}

.item-list .heading .line .link:hover {
    color: #fff !important;
    background-color: #000;
    box-shadow: 0 0 4px #aaa2;
}

/* ---------- Swiper ---------- */

.item-list .swiper-wrapper {
    width: 100%;
    margin: 0 !important;
    padding: 0 0.5rem !important;
    padding-bottom: 4rem !important;
}

.item-list .swiper-slide {
    padding: 0.5rem 0.5rem !important;
    padding-right: 2rem !important;
    box-shadow: 0 !important;
    border-radius: 0px !important;
}

.item-list .swiper-slide.active,
.item-list .swiper-slide-active,
.item-list .swiper-slide:hover {
    padding: 0.5rem;
    box-shadow: 0 !important;
    border-radius: 0px !important;
}

/* ---------- Product Box ---------- */


.item-list .product-box .image img {
    width: 100% !important;
    margin-top: 1rem;
    transform: scale(0.7) !important;
}

/* ---------- Pagination ---------- */

.item-list .swiper-pagination {
    position: absolute;
    left: 50%;
    bottom: 20px !important;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    max-width: 220px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
    width: 30px;
    height: 4px;
    background: #085f91;
    opacity: 0.2;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: #0e0e0e;
    opacity: 1;
}

/* ---------- Collection (Banner) ---------- */

.item-list .collection {
    width: 100%;
    grid-column: span 2;
    overflow: hidden;
    border-radius: 8px;
    padding-bottom: 1rem;
    position: relative;
    cursor: pointer;
}

.item-list .collection .image {
    width: 100%;
    height: 380px;
    overflow: hidden;
    position: relative;
}

.item-list .collection .image img {
    width: 100%;
    min-height: 120%;
    transform: translateY(-10px);
    object-fit: cover;
    transition: transform .4s ease;
}

.item-list .collection:hover .image img {
    transform: translateY(-30px) scale(1.04);
}

.item-list .collection .image .btn-view {
    position: absolute;
    top: -2rem;
    left: 0;
    width: 100%;
    height: 44px;
    background-color: #0007;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .3s;
}

.item-list .collection:hover .image .btn-view {
    top: 0;
    opacity: 1;
}

.item-list .collection .badge {
    padding: 0.25rem 0;
    width: 100%;
    font-size: 28px;
    font-weight: 300;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-list .collection .line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 6px;
    padding: 1rem 0.2rem;
}

.item-list .collection.arab .line {
    direction: rtl;
}

.item-list .collection .badge .title {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #222;
}

.item-list .collection .badge .text-xs {
    font-size: 14px;
    line-height: 14px;
}