.item-list {
    padding: 1rem 0rem;
    border-top: 1px solid rgba(158, 155, 155, 0);
    background-color: #fefefe;
    height: fit-content;
    min-height: fit-content;
}

.item-list .container {
    padding: 1rem 1rem !important;

}

.item-list .heading {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    padding: 1.6rem 1rem;
    padding-bottom: 0.75rem;
    width: 100%;
}

.item-list .heading .line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-list .heading .line h2 {
    font-family: 'Poppins', "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 200;
    padding: 1px;
    margin: 0;
    letter-spacing: 1px;
    color: rgb(85, 85, 85);

}

.item-list .heading .line .link {
    font-family: 'Poppins', "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    padding: 11px 2.4rem;
    border: 1px solid #aaa1;
    border-radius: 2rem;
    margin: 0;
    letter-spacing: 1px;
    box-shadow: 0 0 1px #aaa2;
    color: #444;
    background-color: #fff;
    transition: color 0.3s;
}

.item-list .heading .line .link:hover {

    color: #fff !important;
    background-color: #000;
    box-shadow: 0 0 4px #aaa2;
}

.item-list .swiper-wrapper {
    width: 100%;
    padding-bottom: 4rem;
}

.item-list .swiper-slide {
    padding: 0 1rem;
    padding-top: 1rem;
}

.item-list .items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 2rem;
}



.item-list .swiper-pagination {
    position: absolute;
    left: 50%;
    bottom: 20px !important;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    max-width: 220px;
    height: 20px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
}

.swiper-pagination .swiper-pagination-bullet {
    display: block;
    width: 30px;
    height: 4px;
    background: #085f91;
    opacity: 0.2;
    cursor: pointer;
}


.swiper-pagination .swiper-pagination-bullet-active {
    background: #0e0e0e;
    opacity: 1;
}


.item-list .collection {
    width: 100%;
    grid-column: span 2;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: auto;
    padding-bottom: 1rem;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
}

.item-list .collection .image {
    width: 100%;
    height: 380px;
    overflow: hidden;
}

.item-list .collection .image img {
    position: relative;
    z-index: 0;
    width: 100%;
    height: fit-content;
    min-height: 120%;
    transform: translateY(-10px);
    object-fit: cover;
    transition: transform .4s ease;
    z-index: 10;
}


.item-list .collection:hover .image img {
    transform: translateY(-30px) scale(1.04);

}

.item-list .collection .image .btn-view {
    position: absolute;
    top: -2rem;
    left: 0;
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    background-color: #0007;
    z-index: 100;
    opacity: 0;

}
.item-list .collection:hover .image .btn-view {
    top: 0;
    opacity: 1;

}
.item-list .collection:hover .image .btn-view:hover {
    top: 0;
    opacity: 1;
    background-color: #000;

}




.item-list .collection .badge {
    position: relative;
    padding: 0.25rem 0rem;
    width: 100%;
    color: #000;
    font-size: 28px;
    font-weight: 300;
    border-radius: 20px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.item-list .collection .line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 6px;
    padding: 1rem 0.2rem;
}

.item-list .collection.arab .line {
    direction: rtl;
}

.item-list .collection .badge .title {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #222;
    text-transform: capitalize;


}

.item-list .collection .badge .text-xs {
    font-size: 14px;
    line-height: 14px;
}









































/* Product Card */


.product-card {
    width: 100% !important;
    max-width: 360px;
    min-width: 220px;
    background-color: #000;
    grid-column: span 2;
    position: relative;
    z-index: 0 !important;
    margin: 0 auto;
    height: fit-content;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 4px 12px #aaa4;
    transition: all 0.25s ease;

}

.product-card:hover {
    box-shadow: 0 6px 20px #aaa8;
}

.product-card-b {
    width: 100%;
    max-width: 420px;
    min-height: 450px;
    background-color: #fff0;
    color: #fff0;
}

.product-card .image {
    width: 100%;
    height: 320px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    background-color: transparent;
    overflow: hidden;
    transform: scale(1.03);

}

.product-card .image img {
    width: 100%;
    height: auto;
    transform: scale(1);
    object-fit: cover;
}


.product-card .discount {
    position: absolute;
    content: '';
    top: 0.75rem;
    left: -0.2rem;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    padding: 6px 8px;
    padding-left: 14px;
    border-top-left-radius: 6px;
    border-left: 1px solid #aaa;
    color: #e07777;
}

.product-card .discount::after {
    position: absolute;
    content: '';
    top: 0px;
    left: 2px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #9bb1d810, #dee5f21b, #e59f9f22);

}

.product-card .icons {
    position: absolute;
    content: '';
    top: 0.5rem;
    right: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.66rem;
    z-index: 50;
}

.product-card .icons .icon {
    width: 34px;
    height: 34px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
}
.product-card .icons .icon i {
    transform: scale(0.9);
    opacity: 0.6;
}


.product-card .icons .icon:hover {
    background-color: #33456311;
    transform: scale(1.03);
    
}
.product-card .icons .icon:hover i {
    opacity: 0.8;
    
}


.product-card .meta {
    position: relative;
    padding: 1.3rem 1rem;
    padding-bottom: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: -1rem;
}

.product-card .product-name {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 25px !important;
    overflow: hidden;
    padding: 0px !important;
    margin: 0px !important;
    overflow: hidden;
}

.product-card .product-name a {
    font-size: 15.5px;
    line-height: 25px;
    font-weight: 400;
    color: #000;
}
.arab .product-card .product-name a {
    font-size: 16.5px;
    line-height: 25px;
    font-weight: 600;
    color: #000;
}

.product-card .subtitle {
    margin-top: -6px;
    font-size: 13px;
    font-weight: 300;
    color: #111;
}


.product-card .price {
    width: fit-content;
    font-size: 17.5px !important;
    line-height: 17.5px;
    font-weight: 500;
    color: #236d9b;
    padding-top: 0.5rem;
    text-align: left;
}

.product-card .price .price small {
    font-family: 'poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0 4px;
}

.product-card .old {
    position: relative;
    width: fit-content;
    margin-top: -5px;
    color: #333;
    font-weight: 500;
    font-size: 13px;
    height: 20px;
}

.product-card .old::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 0.5px;
    background-color: #333;
    text-decoration: line-through;
    font-weight: 500;
    font-size: 13px
}