


.our-services{
    background: linear-gradient(180deg, #fefefe, #ffffff);
    text-align: center;
    padding: 60px 0px;
    color: #333;
    position: relative;
    z-index: 100;
    min-height: 520px;
}

.our-services .title {
    font-size: 34px;
    font-weight: 400;
    color: #111;
    text-align: start;
    width: 100%;
    text-align: center;
}

.our-services .desc {
    padding: 0.5rem 0;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.our-services .desc p{
    font-size: 14px;
    font-weight: 400;
    color: #444;
    text-align: start;
    width: 100%;
    text-align: center;
}




.our-services .features-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 35px;
    padding-top: 20px;
}
.our-services .features-items 
.feature-box {
    padding: 2rem 15px;
}
.our-services .features-items 
.feature-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto 15px;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 1s;
}
.our-services .features-items 
.feature-icon img {
    width: 44px;
    height: 44px;
    color: #111;
    opacity: 0.9;
}
.our-services .features-items 
.feature-box:nth-child(1) .feature-icon img {
    opacity: 0.7;
}
.our-services .features-items 
.feature-icon:hover img {
    transform: scale(1.06);
    opacity: 1;
}
.our-services .feature-box .subtitle {
    font-size: 15.5px !important;
    font-weight: 400;
    margin-bottom: 8px;
    color: #111;

}
.our-services .feature-box p {
    font-size: 13px !important;
    line-height: 1.5;
    color: #222;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}


/* Mobile Improvements */
@media (max-width: 600px) {
    .our-services .items  h2 {
        font-size: 22px;
    }

    .about-luxury .intro {
        font-size: 14px;
    }
    .our-services .feature-box p {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
    }
}
























