.blog-page {
    width: 100% !important;
    padding: 2rem 0;
    background: linear-gradient(to bottom, #e9f0f620, #e9f0f6c0, #e9f0f6c0, #e9f0f620);

}


.blog-page .container {
    position: relative;
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 2rem;
    padding-top: 4rem !important;
}

.blog-page .heading {
    position: sticky;
    position: -webkit-sticky;
    top: 6rem;
    left: 0;
    z-index: 10;

}

.blog-page .heading .title {
    font-family: 'Jost', sans-serif !important;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    font-size: 64px;
    line-height: 34px;
    font-weight: 200;
    color: #333;
    padding: 1rem 0rem;
    text-transform: uppercase;
}
.blog-page .heading .title span{
    font-family: 'Jost', sans-serif !important;
}

.blog-page .heading .title.ar {
    font-family: "Noto Kufi Arabic", sans-serif !important;
    font-size: 54px;
    color: #333;
    font-weight: 200 !important;
    padding-bottom: 1rem;
    writing-mode: vertical-rl;
    letter-spacing: 5px !important;
    transform: rotate(-180deg);
}

.blog-page .blog-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 3rem 3rem;
    padding: 0 1rem;
}

.blog-page .article-card {
    width: 100%;
    grid-column: span 3;
    grid-row: span 1;
    height: auto;
    text-align: center;
    overflow: hidden;
}


.blog-page .article-card:nth-child(2n+1) {
    grid-row: span 2;
}


.blog-page .article-card .img {
    background: black;
    padding: 0;
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.blog-page .article-card:nth-child(2n+1) .img {
    height: 700px;
}


.blog-page .img img {
    min-width: 106%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;

}


.blog-page .article-content {
    position: relative;
    height: 150px;
    padding: 1rem 1rem;
    padding-top: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}



.blog-page .article-title {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 26px !important;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: -1px;
    color: #222;

}


.blog-page .article-card.fr .article-title {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: -1px;
    color: #111;
}

.blog-page .article-card.ar .article-title {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: -1px;
    color: #111;
}

.blog-page .article-subtitle {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 4px 0;
    font-size: 13px;
    font-weight: 400;
    color: #111;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.blog-page .article-card.fr .article-subtitle {
    font-size: 12px;
}


.blog-page .article-card.ar .article-subtitle {
    font-size: 16px;
    padding-top: 1rem;
    direction: rtl;
}































/* Post Page */

.post-page {
    margin-top: 74px;
}

.post-page .post-items {
    width: 100%;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 4rem;
}

.post-page .post-items .post-media {
    width: 100%;
    grid-column: span 2;
    height: fit-content;
}

.post-page .post-items .post-media .thumb {
    position: sticky;
    top: 0;
    top: 24px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.post-page .post-items .post-media img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.post-page .post-items .post-content {
    width: 100%;
    grid-column: span 3;
}

.post-page .post-items .post-content .post-meta {
    color: #333;
    font-size: 14px;
    margin-bottom: 8px;
}

.post-page .post-items .post-content .post-heading {
    padding-bottom: 3rem;

}

.post-page .post-items .post-content .post-title {
    font-size: 28px;
    line-height: 1.15;
    font-weight: 300;
}

.post-page .post-items .post-content .post-subtitle {
    font-size: 16px;
    color: #333;
    margin-bottom: 18px;
}

.post-page .post-items .post-content .post-date {
    padding: 0.5rem 0rem;
    font-size: 13px;
    font-weight: 400;
    color: #111;
}

.post-page .post-items .post-content .post-date span {
    font-size: 13px;
    font-weight: 300;
    color: #555;
}

.post-page .post-items .post-content .post-content {
    font-size: 15px;
    line-height: 1.75;
    color: #222;
    text-align: justify;
}

.post-page .post-items .post-content .post-body p {
    font-size: 15px;
    line-height: 1.8;
    color: #111;
    text-align: justify;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
}

.post-page .post-items .post-content .post-body p.subtitle {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    color: #333;
    text-align: justify;
    padding: 1.5rem 2rem;
    background-color: #fcfcfc;
    margin-bottom: 2rem;
    font-style: italic;

}

/* responsive: stack on small screens */
@media (max-width:1100px) {
    .blog-page {
        width: 100%;
    }

    .blog-page .container {
        display: flex !important;
        flex-direction: column !important;
    }

    .blog-page .heading {
        position: relative;
        top: 0.7rem;
        display: flex;
        flex-direction: row;
        gap: 0;
        font-family: "Jost", sans-serif !important;
        text-transform: lowercase !important;
        font-size: 24px;
        font-weight: 500;
        color: #222;
        margin: 0;
    }

    .blog-page .heading .title {
        width: 100%;
        font-family: 'Jost', sans-serif !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        font-size: 34px;
        line-height: 34px;
        font-weight: 300;
        color: #333;
        padding: 1rem 0rem;
    }

    .blog-page .heading .title.ar {
        font-weight: 400 !important;

        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        padding-bottom: 2rem;
    }

    .blog-page .blog-items {
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        gap: 3rem 3rem;
    }




    .blog-page .article-card .img {
        width: 100%;
        height: 340px;
    }

    .blog-page .article-card:nth-child(2n+1) .img {
        height: 500px;
    }


}

@media (max-width:600px) {


    .blog-page .container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        border-top: 1px solid #aaa4;
        padding-top: 4rem !important;
    }

    .blog-page {
        position: relative;
        height: fit-content;
        width: fit-content;
        padding: 1.2rem 1rem;
    }



    .blog-page .heading span:nth-child(1) {
        text-transform: capitalize !important;
    }




    .blog-items {
        overflow: auto;

        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 0 !important;
    }

    .blog-items .article-content {
        width: 100%;
        padding-top: 28px;
    }

    .blog-page .article-title {
        font-size: 24px !important;
    }


    .blog-page .article-subtitle {
        font-size: 13px !important;
        letter-spacing: 0px !important;
    }

    .blog-page .article-card {
        grid-row: span 1;
        height: 440px;
        overflow: hidden;
        background-color: transparent;
    }

    .blog-page .article-card .article-link {
        width: 100%;
        height: 440px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .blog-page .article-card .img,
    .blog-page .article-card:nth-child(2n+1) .img {
        height: 300px !important;
        overflow: hidden;
    }

    .blog-page .article-card img,
    .blog-page .article-card:nth-child(2n+1) img {
        height: 300px !important;
        padding: 0px !important;
        margin: 0px !important;
        transform: scale(1.1);
    }


}